<!DOCTYPE HTML>
<html>

<head>
    <title>Flask-web</title>
</head>

<body>
    <h1>Flask-web</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form id="form" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.message.label }}<br>
            {{ form.message() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>

</html>